/* style.css 0078 group 02 Adonia Richards 1/23/2025 */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: white;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 402px;
  height: 874px;
  margin: auto;
}

.image-1 {
  width: 495.81px;
  height: 499.03px;
  position: absolute;
  left: 399.37px;
  top: 405px;
  transform: rotate(85.32deg);
}

.image-2 {
  width: 733.35px;
  height: 1016.73px;
  position: absolute;
  left: -534px;
  top: 733.32px;
  transform: rotate(-89.43deg);
}

.logo {
  width: 354px;
  height: 354px;
  position: absolute;
  left: 24px;
  top: 185px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 161px;
  height: 61px;
  background: #648268;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  border: none;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.get-started {
  top: 590px;
  left: 121px;
}

.login {
  top: 672px;
  left: 121px;
}