/* style.css 0078 group 02 Adonia Richards 1/23/2025 */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 402px;
  height: 874px;
  position: relative;
  margin: auto;
  background: white;
}

.image-1 {
  width: 495.81px;
  height: 499.03px;
  position: absolute;
  left: 399.37px;
  top: 405px;
  transform: rotate(85.32deg);
  transform-origin: 0 0;
}

.image-2 {
  width: 733.35px;
  height: 1016.73px;
  position: absolute;
  left: -534px;
  top: 733.32px;
  transform: rotate(-89.43deg);
  transform-origin: 0 0;
}

.logo {
  width: 354px;
  height: 354px;
  position: absolute;
  left: 24px;
  top: 185px;
}

/* Buttons */
.btn {
  width: 161px;
  height: 61px;
  background: #648268;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Get Started Button */
.get-started {
  left: 121px;
  top: 590px;
}

/* Login Button */
.login {
  left: 121px;
  top: 672px;
}

/* Button text */
.text {
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: Bungee, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

/* Get Started Text */
.get-started-text {
  left: 145px;
  top: 611px;
}

/* Login Text */
.login-text {
  left: 171px;
  top: 693px;
}